-@members.each do |member|
	= image_tag member.image.url(:thumb)
	= member.name
	= member.company_name
	= link_to member.company_webpage, "http://#{member.company_webpage}", :target => "_blank"
	= link_to "Edit Member", edit_member_path(member)